* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    background-color: #00d8ff;
    display: grid;
    place-items: center;
    height: 100vh;
    transition: all 1s;
  }
