* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }

  body {
    background-color: #00d8ff;
    display: grid;
    place-items: center;
    height: 100vh;
    transition: all 1s;
  }

.wrapper {
    width: 750px;
    height: 400px;
    box-shadow: 0px 2px 4px black;
    background: white;
    overflow: hidden;
    z-index: 3;
  }
  .container {
    position: relative;
    width: 750px;
    height: 400px;
    overflow: hidden;
    box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.459);
  }

nav {
    position: absolute;
    top: 5%;


